.pill-nav a {
	display: inline-block;
	color: #000;
	text-align: center;
	padding: 5px 10px;
	text-decoration: none;
	font-size: 15px;
	border-radius: 5px;
	
}

.pill-nav a:hover {
	background-color: #ddd;
	color: #000;
}

.pill-nav a.active {
	border-bottom: 5px solid #f10d33;
}

.filter-search .form-control:active,
.filter-search .form-control:focus {
	border-color: #f10d33;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px rgba(192, 10, 40, 0.8);
}

#filter-btn {
	border: 1px solid #f10d33;
}

#filter-btn:hover {
	background-color: rgba(192, 10, 40, 0.1);
}

#bid-btn,
#filter-submit-btn {
	background-color: #f10d33;
	color: #fff;
}

.card-title a, 
.card-title a:focus,
.card-title a:active {
	text-decoration: none;
	outline: none;
}

.card a {
	color: #212427;
}

.card a:hover {
	color: #f10d33;
}

.price span {
	font-family: "Helvetica", Arial, sans-serif;
	color: #999;
	font-size: .75rem;
}

.price h4 {
	margin: 0;
	font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
	color: #222;
	font-size: 1.25rem;
}

#bid-btn:hover,
#filter-submit-btn:hover {
	background-color: rgba(192, 10, 40, 0.8);
}

.datepicker {
	margin-top: 60px !important;
}