nav {
    background-color: #fff;
}

.navbar-toggler {
    border: 0;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.nav-link:hover {
    color: #f10d33;
}

#top-nav .active {
    color: #c00a28;
}

#signup-btn:hover {
    color: #086972;
    background-color: rgba(241, 13, 51, 0.2);
}

#login-btn,
#sell-btn {
    background-color: #f10d33;
    color: #fff;
}

#login-btn:hover,
#sell-btn:hover {
    background-color: rgba(192, 10, 40, 0.8);
}

.dropdown-item:focus,
.dropdown-item:active {
	background-color: rgba(241, 13, 51, 0.2);
	color: #f10d33;
}

#search-input:active,
#search-input:focus {
	border-color: #f10d33;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px rgba(192, 10, 40, 0.8);
}

#search-icon,
#search-icon label {
	cursor: pointer;
}

#search-icon:active {
	background-color: #dadfe4;
}

@media (max-width: 991px) {
  .dropdown-menu {
    position: static;
  }
}