.form-check-input[type='checkbox']:hover {
	cursor: pointer;
}

.form-check-input[type='checkbox']:checked {
	background-color: #f10d33;
	border-color: #f10d33;
}

.form-check-input[type=checkbox]:checked:focus {
	background-color: #f10d33;
}

.form-check-input[type=checkbox]:focus {
	box-shadow: none;
}

.table-responsive i,
.back a {
	color: #f10d33;
}

.back a:hover {
	color: rgba(192, 10, 40, 0.8);
}

#add-btn {
    background-color: #f10d33;
    color: #fff;
}

#add-btn:hover {
    background-color: rgba(192, 10, 40, 0.8);
}